/* For the .log.html */
pre { /*line-height: 125%;*/
      white-space: pre-wrap; }
body { background: #f0f0f0; line-height: 1; margin-top: .5rem; }

.tm  { color: #007020 }                      /* time */
.nk  { color: #062873; font-weight: bold }   /* nick, regular */
.nka { color: #007020; font-weight: bold }  /* action nick */
.ac  { color: #00A000 }                      /* action line */
.hi  { color: #4070a0 }                 /* hilights */
/* Things to make particular MeetBot commands stick out */
.topic     { color: #007020; font-weight: bold }
.topicline { color: #000080; font-weight: bold }
.cmd       { color: #007020; font-weight: bold }
.cmdline  { font-weight: bold }

