/* This is for the .html in the HTML2 writer */
h1 {
    text-align: center;
}
hr {
    border: 1px solid #ccc;
}
/* The (nick, time) item pairs, and other body text things. */
.details {
    font-size: .875rem;
    font-weight:bold;
}
/* The 'AGREED:', 'IDEA', etc, prefix to lines. */
.itemtype {
    font-style: normal;    /* un-italics it */
    font-weight: bold;
}
/* Example: change single item types.  Capitalized command name. */
.summary, div.details:not(:last-child) { margin-bottom: 34px; }
.summary > li { margin-bottom: 17px; }
.container-fluid { max-width: 90%; }
/* .TOPIC  {  color:navy;  } */
/* .AGREED {  color:lime;  } */
